/* 1ero. */
.contenedor-padre{
    width: 80%;
    max-width: 800px;
    padding: 20px;
    /* 7mo. b */
    /* height: 400px; */
    /* 7mo. d */
    /* margin: auto; */

    /* 2do Por nombre de color */
    /*background-color: black;*/

    /* Colores aceptados: www.w3schools.com/colors/colors_names.asp */

    /* 3ero. Por código hexadecimal */
    /*color: #ffffff;*/

    /* 4to. Por código RGB */
    /*background-color: rgb(255, 255, 255);*/

    /* 5to. Por código HSL */
    /*color: hsl(5,20%, 90%);*/

    /* 6to. Imagen de fondo */
    /* background-image: url(../img/eldenring.jpg);  */
    /* 6to. a */
    /* background-size: 20%; */
    /* 6to. c  */
    /* background-size: cover; */
    /* 6to. b */
    /* background-repeat: no-repeat;  */
    /* 6to. d */
    /* background-position: center; */
}

/* 7mo. a. Imganaes transparentes */
 /* .contenedor-hijo{
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    /* 7mo. c *
    height: 300px;
    padding-top: 100px;

    text-align: center;
}  */